{% extends 'layout.html' %}

{% block title %}
    Cars
{% endblock %}

{% block content %}

<h1>Car list</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Model</th>
            <th scope="col">Provider</th>
        </tr>
    </thead>
    <tbody>

    {% for car in car_list %}

        <tr>
            <th scope="row">{{ car.id }}</th>
            <td>{{ car.model }}</td>
            <td>{{ car.provider }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}
