<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        PyCar
        {% endblock %}
        | PyCar
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#">PyCar</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-6 offset-md-2">
                {% block content %}
                    There's nothing 4 u :(
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
