{% extends 'layout.html' %}

{% block title %}
    {{ owner.last_name }} {{ owner.first_name }}
{% endblock %}

{% block content %}

    <h1> Owner {{ owner.last_name }} {{ owner.first_name }} </h1>

    <table class="table table-borderless">
      <tbody>
        <tr>
            <th scope="row">Person Id</th>
            <td>{{ owner.id }}</td>
        </tr>
        <tr>
            <th scope="row">Last name</th>
            <td>{{ owner.last_name }}</td>
        </tr>
        <tr>
            <th scope="row">First name</th>
            <td>{{ owner.first_name }}</td>
        </tr>
        <tr>
            <th scope="row">Birthday</th>
            <td>{{ owner.birthday }}</td>
        </tr>
        <tr>
            <th scope="row">Passport</th>
            {% if owner.user != None %}
                {% if owner.user.passport != None %}
                    <td>{{ owner }}</td>
                {% else %}
                    <td> Passport isn't entered. </td>
                {% endif %}
            {% else %}
                <td> User hasn't created. </td>
            {% endif %}
        </tr>
    </table>

{% endblock %}
